.contact-footer-container {
    
    .contact-footer {
        a {
            color: #111;
        }
        .social {
            width: 100%;
            justify-content: center;
        }
    }
}