.contact-footer-container {
    
    .contact-footer {
        a {
            color: #111;
        }
        .social {
			@include print {
				display: none;
			}
            width: 100%;
            justify-content: center;
        }
    }
}
