.image-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 463px;
    @include screen(tablet) {
        height: 570px;
    }
	@include screen(ipad-pro-portrait) {
		height: 592px;
	}
    background-size: cover;
    background-color: #fff;
    z-index: 1;
    content: '';
    
	.image-rights {
		position: absolute;
        top: 0;
        left: 0;
        right: auto;
		bottom: auto;
        
        display: flex;
		flex-direction: column;        
		font-size: 0.75em;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.35);
        opacity: 0;
        padding: 0.25em;
		width: 100%;
		
		@include screen(tablet) {
			top: auto;
			bottom: -56px;	
			max-width: 20%;	
			width: auto;
		}
		@include screen(ipad-pro-portrait) {
			top: 0;
        	right: auto;
			bottom: auto;		
        	left: 0;
			width: 100%;
			max-width: auto;
		}
		
		@media only screen and (min-width: 1600px) {
			max-width: 25%;
		}	
		
        .owner {
            flex-direction: column;
            align-items: flex-start;
         
            .location {
                font-weight: bold;
                font-size: 1.05em;
            }
            .holder {
                
            }
            .attribution {
                
            }
        }
	}
    
	&:hover .image-rights{
		top: 181px;
		opacity: 1;
		
		@include screen(tablet) {
			top: auto;
			bottom: 0;
    	}
		@include screen(ipad-pro-portrait) {
			top: 172px;
			bottom: auto;
			max-width: auto;
		}
	}
}

.parallax-mirror {
    z-index: -1 !important;
    background-color: #fff;
}
