.indicators {
    clear: both;
    margin-top: 1.5em;
}

.biodiversity {
    .checkbox-panel {
		h3 {
			color: $biodiversity-dark;
		}
	}
	.subregion-info {
		border-bottom-color: $biodiversity;
	}
	
	.regiontabs { 
        border: 1px solid #b7dda2; 
        background-color: rgba(110, 188, 68, 0.1); 
    
        .regionlink-tabs {
            border-bottom: 1px solid #6ebc44;

            span {
                color: #6ebc44;
                background-color: rgba(110, 188, 68, 0.2);
            
                &:hover {
                    color: #427429;
                }
            }
            .active span {
                background-color: #6ebc44; 
                
                &:hover {
                    color: #fff;
                }
            }
        }
        .map-list { 
            border: 1px solid #b7dda2; 
            background-color: rgba(183, 221, 162, 0.25);
            
        }
    }
}

.heritage {
    .checkbox-panel {
		h3 {
			color: $heritage-dark;
		}
	}
	.subregion-info {
		border-bottom-color: $heritage;
	}
    .regiontabs { 
        border: 1px solid rgba(236, 36, 40, 0.2); 
        background-color: rgba(236, 36, 40, 0.1); 
    
        .regionlink-tabs {
            border-bottom: 1px solid #ec2428;

            span {
                color: #ec2428;
                background-color: rgba(236, 36, 40, 0.125);
            
                &:hover {
                    color: #bd0004;
                }
            }
            .active span {
                background-color: #ec2428; 
                
                &:hover {
                    color: #fff;
                }
            }
        }
        .map-list { 
            border: 1px solid rgba(236, 36, 40, 0.15); 
            background-color: rgba(236, 36, 40, 0.05);
            
        }
    }
}

.pollution {
    .checkbox-panel {
		h3 {
			color: $pollution-dark;
		}
	}
	.subregion-info {
		border-bottom-color: $pollution;
	}
    .regiontabs { 
        border: 1px solid rgba(241, 122, 47, 0.15); 
        background-color: rgba(241, 122, 47, 0.05); 
    
        .regionlink-tabs {
            border-bottom: 1px solid rgb(241, 122, 47);

            span {
                color: rgb(241, 122, 47);
                background-color: rgba(241, 122, 47, 0.125);
            
                &:hover {
                    color: #b74700;
                }
            }
            .active span {
                background-color: rgb(241, 122, 47); 
                
                &:hover {
                    color: #fff;
                }
            }
        }
        .map-list { 
            border: 1px solid rgba(241, 122, 47, 0.15); 
            background-color: rgba(241, 122, 47, 0.05);
            
        }
    }
}

.climate {
    .checkbox-panel {
		h3 {
			color: $climate-dark;
		}
	}
	.subregion-info {
		border-bottom-color: $climate;
	}
    .regiontabs { 
        border: 1px solid rgba(58, 83, 164, 0.15); 
        background-color: rgba(58, 83, 164, 0.05); 
    
        .regionlink-tabs {
            border-bottom: 1px solid rgb(58, 83, 164);

            span {
                color: rgb(58, 83, 164);
                background-color: rgba(58, 83, 164, 0.125);
            
                &:hover {
                    color: #001865;
                    background-color: rgba(58, 83, 164, 0.2);
                }
            }
            .active span {
                background-color: rgb(58, 83, 164); 
                
                &:hover {
                    color: #fff;
                }
            }
        }
        .map-list { 
            border: 1px solid rgba(58, 83, 164, 0.15); 
            background-color: rgba(58, 83, 164, 0.05);
            
        }
    }
}

.liveability {
    .checkbox-panel {
		h3 {
			color: $liveability-dark;
		}
	}
	.subregion-info {
		border-bottom-color: $liveability;
	}
    .regiontabs { 
        border: 1px solid rgba(127, 63, 152, 0.15); 
        background-color: rgba(127, 63, 152, 0.05); 
    
        .regionlink-tabs {
            border-bottom: 1px solid rgb(127, 63, 152);

            span {
                color: rgb(127, 63, 152);
                background-color: rgba(127, 63, 152, 0.125);
            
                &:hover {
                    color: $liveability-dark;
                    background-color: rgba(127, 63, 152, 0.2);
                }
            }
            .active span {
                background-color: rgb(127, 63, 152); 
                
                &:hover {
                    color: #fff;
                }
            }
        }
        .map-list { 
            border: 1px solid rgba(127, 63, 152, 0.15); 
            background-color: rgba(127, 63, 152, 0.05);
            
        }
    }
}

.regiontabs {
    @include screen(tablet) {
        width: 50%;
        float: right;
        margin: 0 0 1em 1em;
    }
    margin: 0 0 1.5rem 0;
    border: 1px solid #ccc;
    padding: 1em;

    h4 {
        margin: 0;
    }
    p.regionlinks {
        margin-bottom: 0.75em;
    }
    .regionlinks {
        .long {
            margin: 0 0 0 1.5em;
        
            .current {
                font-weight: bold;
            }
        }
    
        &.list {
            padding: 1em;
        }
    }

    .regionlink-tabs {
    	list-style-type: none;
    	padding: 0;
    	margin: 0 0 1em 0;
    	display: flex;
    	width: 100%;
    	border-bottom: 1px solid #ccc;
    	text-transform: uppercase;
    	font-size: 14px;
        
        > li {
            padding-bottom: 0 !important;
            cursor: pointer;
        }
    
        span {
    	    display: block;
    	    padding: 0.5em 0.75em;
    	    text-decoration: none;
            background-color: rgba(110, 188, 68, 0.1);
    	    background-color: #f1f1f1;
    	    color: #999;
    	    transition: all 0.15s ease;
    	    margin-bottom: -1px;
            
            &:hover {
            	color: #555;
            	margin-bottom: -1px;
            }
        }
        .active span {
            color: #fff;
        }
    }

    #map-canvas {
        height: 600px;
    }
    
    .map-list {
    	margin-bottom: 1em;
    
        > div {	display: block; }
        .inactive { display: none; }
    }
    .caption {
        margin: 0;
        text-align: center;
        font-size: 0.85em;
        color: #555;
    }
}

.checkbox-panel {
	background-color: #fafafa;
    border: 1px solid #eaeaea;
    padding: 1rem 1.25rem;
    margin: 2rem 0;
	
	.checkbox-list {
		@include screen(tablet) {
			columns: 2;
		}
    	list-style-type: none;
		margin: 0;
		padding: 0 0 0 1.5rem;
	
		label {
			margin-left: 0.25rem;
		}
	}
}

p + .subregion-info {
	margin-top: 2.5rem;
}
.subregion-info {
    padding: 0 1rem;    
	margin-bottom: 2.5rem;
    border-bottom: 2px solid #dadada;
}
