$border-blue: #007eb1;
$biodiversity-background-color: #6dbe45;
$biodiversity-theme-color: #427429;
$biodiversity-alpha-color: rgba(76,135,47,0.7);
$biodiversity-link-color: #d5ecc9;
$heritage-background-color: #ec2127;
$heritage-theme-color: #c91117;
$heritage-alpha-color: rgba(177,15,20,0.7);
$heritage-link-color: #fac5c7;
$pollution-background-color: #f47b31;
$pollution-theme-color: #b54b0a;
$pollution-alpha-color: rgba(206,85,11,0.7);
$pollution-link-color: #fde8da;
$climate-theme-color: #3b53a4;
$climate-alpha-color: rgba(39,55,108,0.7);
$climate-link-color: #afbbe2;
$human-settlements-theme-color: #82368C;
$human-settlements-alpha-color: rgba(130,54,140,0.7);
$great-barrier-reef-theme-color: #009fe3;
$great-barrier-alpha-theme-color: rgba(44,172,227,0.7);
$great-barrier-reef-link-color: #006A96;
$climate-change-theme-color: #666666;
$climate-change-alpha-theme-color: rgba(128,128,128,0.7);
$climate-change-link-color: #bbbbbb;



@media screen {
  #header, #header .box-sizing, #page-container, #nav-site, #footer {
    background: none;
  }

  body {
    @media (min-width: 43em) {
      background: url(./?a=1279494) no-repeat 50% top #fff;  // page-bg-soe-2017.jpg
    }
  }
  

  body #header .max-width {
    margin-top: 2em;
    background: none;
    background-image: none !important;
    background-color: black;
    
    @media (min-width: 43em) {
      margin-bottom: 2em;
      background-color: rgba(0,0,0,0.5);
    }
    
  }

  #header .box-sizing, #page-container, #nav-site, #fat-footer {
    padding: 0;

    @media (min-width: 43em) {
      padding: 0 .7em;
    }
  }

  #tools {
    background: #000;

    input[type="submit"] {
      border-color: #596475;
      background: white;
      background: linear-gradient(white, #bbb);
    }
    
    li {
      padding: 0;
    }

    form {
      padding: .4em .8em;
    }
    
    a {
      padding: .5em .8em;
      &:hover {
        background: $border-blue;
      }
    }
  }
      

  #page-container .max-width {
    background: #fff;
    box-shadow: none;
  }

  .aside .box-sizing {
    border-bottom: none;
    padding-bottom: 0;
  }

  .aside.feedback, 
  body.soe-home 
  .topic.feedback {
    text-align: center;
  }

  .aside.feedback h2, 
  .aside.feedback h3, 
  body.soe-home .topic.feedback h2,
  body.soe-home .topic.feedback h3 {
    background: #efefef;
    border: {
      top: 4px solid $border-blue;
      left: 1px dashed $border-blue;
      right: 1px dashed $border-blue;
    }
    letter-spacing: .03em;
    margin-bottom: 0 !important;
  }

  .aside.feedback p, body.soe-home .topic.feedback p {
    background: #efefef;
    border: 1px dashed $border-blue;
    border-top: none;
    padding: 1em 2em;
    margin: 0 0 1em;
  }

  .aside.feedback a .title, 
  body.soe-home .topic.feedback a .title {
    display: block;
  }

  .aside.feedback {
    margin-top: 0;
    h2 {
      padding: .8em .5em 0em;
    }
    .box-sizing {
      max-width: 220px;
    }
  }

     
  .soe-theme #content-container .aside {
    background-color: #eee;

    @media (min-width: 65em) {
      margin-top: 12.5em;
    }
  }

  #nav-site {
    .max-width {
      background: #444;
      background: rgba(0,0,0,0.8);
    }
    
    ul {
      li {
        text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
        &:hover, &:focus {
          background: $border-blue;
        }
        &:hover a, &:hover a:hover, &:hover a:link, &:hover a:visited, &.current a, &.current:hover a, &.current:hover a:hover, &:focus a {
          color: white;
        }
        &:hover ul, &.hover ul {
          top: 3em;
          left: 0;
        }
      }
    }
    
    li {
      padding {
        top: 0;
        bottom: 0;
      }
      
      line-height: 1.3em;
      
      ul {
        background: $border-blue;
        background: linear-gradient($border-blue, #005c8f);
      }
    }
    
    a {
      font-size: 14px;
      font-size: .9rem;
      padding: .8em 1em;
      &:link, &:visited, &:hover, &:focus {
        background: transparent;
        color: #fff;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
    

  #nav-section {
    .box-sizing {
      border: none;
      padding: 1.5em 0;
      margin-bottom: 0;
      @media (min-width: 43em) {
        margin-bottom: 1.5em;
        min-height: 145px;
      }
    }
    h2 {
      padding: 0;
      margin: 0 .8em;
      background-color: #444;
      color: white;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
      a {
        background-color: #444;
        color: white;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
        padding: .5em 1em;
        display: block;
        }
      span {
        padding: .5em 1em;
        display: block;
      }
    } 
    ul {
      li {
        background: url(./?a=1260195) no-repeat 1.5em center;
        padding: 0.8em 1em 0.8em 3em;
        border-bottom: none;
        &.current {
          background-color: #fff;
          background-image: none;
          cursor: default;
          a {
            cursor: default;
          }
        }
        ul {
          display: none;
          li {
            background-position: .5em center;
            padding: .5em 1em .5em 2em;
            a {
              font-weight: normal;
            }
          }
        }
        &.qg-cue-widget img {
          display: none;
        }
      }
    }
    li {
      a {
        font-weight: bold;
        width: 100%;
        display: block;
        color: #444;
        &:link, &:visited, &:hover, &:focus {
          color: #444;
        }
      }
      &.current {
        a {
          letter-spacing: .05em;
        }
        ul li a {
          letter-spacing: normal;
        }
      }
    }
  }

  #fat-footer {
    .max-width {
      background: #444;
      border-top: none;
    }
    h3 a, h3 a:link, h3 a:visited {
      color: white;
    }
    ul {
      font-size: 13px;
      font-size: .85rem;
    }
  }

  #content-container {
    background: no-repeat center top transparent;
  }

  #breadcrumbs {
    padding-top: 0;
    @media (min-width: 43em) {
      padding-top: 1em;
    }
    
    ol {
      background-color: rgba(255,255,255,0.9);
      padding-top: 0;
      @media (min-width: 43em) and (max-width: 65em) {
        margin-left: 2em;
        background: rgba(239,239,239,0.95);
        background: linear-gradient(to right,rgba(239,239,239,0.95),rgba(255,255,255,0.7));
      }
    }
  }

  #content h1 {
    margin: 0;
    padding: .5em 0;
    font-size: 24px;
    font-size: 1.5rem;
  }

  body.soe-theme #content h1 {
    height: 85px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 16px;
    padding: 10px .5em 10px 0;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    background-repeat: no-repeat;
    background-position: 10px center;
    font-size: 26px;
    font-size: 1.6rem;
    &.long {
      font-size: 21px;
      font-size: 1.3rem;
    }
  }

  #content {
    h2 {
      border-bottom: none;
      letter-spacing: .05em;
    }

    ul.moreinfo {
      list-style: none;
      padding-left: 0;
    }

    a.report-card {
      background: url(./?a=1260201) no-repeat right;
      padding: 8px 30px 8px 0;
      line-height: 25px;
    }

 
    .themes {
      display: block;
      width: 100%;
      clear: both;
    }

    .theme-section {
      padding: 0;
      margin: 1em 0 2em;
      @media (min-width: 43em) {
        display: inline-block;
        zoom: 1;
        *display: inline;
        margin: 1.5em 1.0%;
        width: 45%;
        vertical-align: top;
        min-height: 300px;
        &:last-of-type {
          margin-left: 0;
          margin-right: 0;
          min-height: 200px;
        }
      }

      h2 {
        text-align: center;
        margin: 0;
        padding: 0;
        
        a {
          display: block;
          text-decoration: none;
          background: no-repeat top center transparent;
          padding: 115px .3em .5em;
          margin: 0;
          @media (min-width: 43em) {
            margin: 0;
            height: 60px;
          }

          &:hover {
            text-decoration: underline;
            filter: brightness(66%);
            -webkit-filter: brightness(66%);
          }
        }
      }
      
      p {
        padding: 0 1em;
        margin: 0 0 1em;
      }
      
      ul {
        padding: 0;
        margin: 0;
      }

      li {
        list-style: none;
        margin: .5em 0;
        padding: .8em;
      }
    }

    p.video {
      text-align: center;
      margin: 2em 0;
    }

    #videolink {
      font-size: 1.2rem;
      text-decoration: none;
      text-align: center;
      color: #fff;
      padding: 1em 2em 1em 75px;
      background: url(./?a=1260202) .5em center no-repeat rgba(0,0,0,0.8); 

      &:hover {
        text-decoration: underline;
      }
    }
  }

  body.soe-home #content .theme-section {
    background: rgba(255,255,255,0.8);
    
    @media (min-width: 43em) {
      width: 18%;
    }

    li {
      text-align: center;
      font-size: 14px;
      font-size: .9rem;
    }

    h2 a {
      @media (min-width: 65em) {
        margin: 0 2em;
      }
    }
  }

  #content {
    .findings {
      padding: 0;
      margin: 1.5em 0;
      clear: both;
      display: block;

      &:last-child {
        border-bottom: none;
      }

      h3 {
        clear: both;
        font-size: 16px;
        font-size: 1rem;
        margin: 0;
        padding: .3em 1em;
        letter-spacing: .05em;
        color: #fff;
        background: #444;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
      }

      dl {
        padding: .5em 1em;
        margin: 0 0 1em;
        background: #efefef;
        border: 1px dashed #bbb;
        border-top: 0;
        dt {
          font-weight: normal;
          font-size: 15px;
          font-size: .9rem;
          margin: 0 3px 0 0;
          padding: .5em 0 .2em 0;
          border-top: 1px solid #fff;
          width: 100%;
          @media (min-width: 43em) and (max-width: 65em) {
            width: 26%;
          }
          @media (min-width: 65em) {
            width: 29%;
          }
        }
        dd {
          margin: 0;
          padding: .2em 0 .5em 0;
          width: 100%;
          @media (min-width: 43em) and (max-width: 65em) {
            width: 58%;
          }
          @media (min-width: 65em) {
            width: 65%;
          }
          @media (min-width: 43em) {
            border-top: 1px solid #fff;
          }
          p {
            margin-top: 0;
            margin-bottom: .7em;
          }
        }
        dt, dd {
          @media (min-width: 43em) {
            padding: .5em 1%;
            vertical-align: top;
            display: inline-block;
            zoom: 1;
            *display: inline;
          }
        }
        dt:first-child, dd:first-of-type {
          border-top: none;
        }
      }
    }

    a.more {
      font-size: 11px;
      font-size: .7rem;
      font-weight: normal;
      padding: .5em;
    }

    #featured a.more {
      background: #777;
      background: linear-gradient(#777, #444);      
      color: white;
      padding: 1em;
      margin: .5em 0;
      
      &:hover {
        background: #777;
      }

      &:active {
        background: #444;
      }
    }

    .theme-section a.more {
      font-size: 13px;
      font-size: .85rem;
      padding: .5em;
      margin: 0 auto 1em;
      width: 9em;
      display: block;
      text-align: center;

      &:hover {
        background: #efefef;
      }

      &:active {
        background: #bbb;
      }
    }
    
    dl.keymessages a.more {
      margin-left: 1em;
      padding: .3em .7em;
      display: inline-block;
      zoom: 1;
      *display: inline;
      border-left: 1px solid #596475;
    }

    .programs {
      
      a.more {
        font-size: 13px;
        font-size: .8rem;
        margin-left: 1em;
        padding: .2em .7em;
        border-left: 1px solid #596475;
        display: inline-block;
        zoom: 1;
        *display: inline;
      }
    }

    .programs h3.active, dl.keymessages.active dt {
      cursor: pointer;
      background-image: url(./?a=1260203);
      background-repeat: no-repeat;
      background-position: 2px 7px;
      padding-left: 22px;
    }

    .programs h3.active.selected, dl.keymessages.active dt.selected {
      background-image: url(./?a=1260204);
    }

    .programs {
      border: 1px dashed #596475;
      padding: 0 0 .5em;

      h3 {
        padding: 0 1em;

        &.active {
          padding-left: 40px;
          background-position: 20px 7px;
        }
      }
      
      dl, div.dl {
        padding: .5em;
        margin: 0;
        padding: .5em 1em;
        margin: 0 0 1em;
      }

      dl dt, div.dl div.dt {
        font: {
          weight: normal;
          size: 15px;
          size: .9rem;
        }
        margin: 0 3px 0 0;
        padding: .5em 0 .2em 0;
        border-top: 1px solid #bbb;
        width: 100%;
      }

      dl dd, div.dl div.dd {
        margin: 0;
        padding: .2em 0 .5em 0;
        width: 100%;
      }

      dl dd p, div.dl div.dd p {
        margin-top: 0;
        margin-bottom: .7em;
      }

      dl dt:first-child, div.dl div.dt:first-child, dl dd:first-of-type, div.dl div.dd:first-of-type {
        border-top: none;
      }

    }

    dl.keymessages dt {
      font-size: 15px;
      font-size: 1rem;
    }
  


    dl.keymessages dd {
      margin-left: 0;
      margin-bottom: 1em;
    }

    .finding-criteria {
      background: #efefef;
      padding: .3em .6em;
      margin: 1em 0;
    }

    table {
      margin-left: auto;
      margin-right: auto;
      
      caption {
        color: #444;
      }

      thead th {
        background: $border-blue;
        color: white;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
        text-align: center;
      }

      tbody th[scope=row], tbody th[scope=rowgroup] {
        background: #efefef;
      }

      &.assessment {
        width: 100%;
        margin-bottom: 2.5em;
        border: none;
        td, th {
          border: none;
        }
        th {
          background-color: #efefef;
          color: #000;
          text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
        }
        td {
          border-bottom: 1px solid #efefef;
          text-align: center;
          &:first-child {
            text-align: left;
          }
        }
        tr td:first-child {
          @media (min-width: 43em) and (max-width: 65em) {
            width: 25%;
          }
          @media (min-width: 65em) {
            width: 35%;
          }
        }
        p.grade {
          display: block;
          img {
            margin: 0 auto;
            width: 70%;
            @media (min-width: 43em) {
              width: auto;
            }
          }
        }
        .grade {
          font-size: .7rem;
          color: #444;
          img {
            display: block;
          }
        }
        .confidence {
          font-size: .7rem;
          color: #444;
          img {
            vertical-align: middle;
          }
        }
      }

    }


    .responses {
      
      a.more {
        font-size: 13px;
        font-size: .8rem;
        margin-left: 1em;
        padding: .2em .7em;
        border-left: 1px solid #596475;
        display: inline-block;
        zoom: 1;
        *display: inline;
      }
    }

    .responses h3.active, dl.keymessages.active dt {
      cursor: pointer;
      background-image: url(./?a=1260203);
      background-repeat: no-repeat;
      background-position: 2px 7px;
      padding-left: 22px;
    }

    .responses h3.active.selected, dl.keymessages.active dt.selected {
      background-image: url(./?a=1260204);
    }

    .responses {
      border: 1px dashed #596475;
      padding: 0 0 .5em;

      h3 {
        padding: 0 1em;

        &.active {
          padding-left: 40px;
          background-position: 20px 7px;
        }
      }
      
      dl, div.dl {
        padding: .5em;
        margin: 0;
        padding: .5em 1em;
        margin: 0 0 1em;
      }

      dl dt, div.dl div.dt {
        font: {
          weight: normal;
          size: 15px;
          size: .9rem;
        }
        margin: 0 3px 0 0;
        padding: .5em 0 .2em 0;
        border-top: 1px solid #bbb;
        width: 100%;
      }

      dl dd, div.dl div.dd {
        margin: 0;
        padding: .2em 0 .5em 0;
        width: 100%;
      }

      dl dd p, div.dl div.dd p {
        margin-top: 0;
        margin-bottom: .7em;
      }

      dl dt:first-child, div.dl div.dt:first-child, dl dd:first-of-type, div.dl div.dd:first-of-type {
        border-top: none;
      }

    }

    dl.keymessages dt {
      font-size: 15px;
      font-size: 1rem;
    }
  


    dl.keymessages dd {
      margin-left: 0;
      margin-bottom: 1em;
    }

    .finding-criteria {
      background: #efefef;
      padding: .3em .6em;
      margin: 1em 0;
    }

    table {
      margin-left: auto;
      margin-right: auto;
      
      caption {
        color: #444;
      }

      thead th {
        background: $border-blue;
        color: white;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
        text-align: center;
      }

      tbody th[scope=row], tbody th[scope=rowgroup] {
        background: #efefef;
      }

      &.assessment {
        width: 100%;
        margin-bottom: 2.5em;
        border: none;
        td, th {
          border: none;
        }
        th {
          background-color: #efefef;
          color: #000;
          text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
        }
        td {
          border-bottom: 1px solid #efefef;
          text-align: center;
          &:first-child {
            text-align: left;
          }
        }
        tr td:first-child {
          @media (min-width: 43em) and (max-width: 65em) {
            width: 25%;
          }
          @media (min-width: 65em) {
            width: 35%;
          }
        }
        p.grade {
          display: block;
          img {
            margin: 0 auto;
            width: 70%;
            @media (min-width: 43em) {
              width: auto;
            }
          }
        }
        .grade {
          font-size: .7rem;
          color: #444;
          img {
            display: block;
          }
        }
        .confidence {
          font-size: .7rem;
          color: #444;
          img {
            vertical-align: middle;
          }
        }
      }
    }


    .indicatorlinks {
      padding: 0 1em;
      background: #efefef;
      margin: 0 0 1em 1em;
      width: 40%;
      float: right;
    }
  
    .indicators h3 {
      clear: both;
    }

    h3.regionname {
      font-size: 150%;
    }

    h2.criteria, h3.criteria {
      padding: .3em .8em;
      margin: 1em 0 0;
      background: #444;
      color: #fff;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
      font-weight: bold;
      letter-spacing: .05em;
      font-size: 16px;
      font-size: 1rem;
    }

    .finding-text {
      background: #efefef;
      padding: .1em 1em;
      margin: 0 0 2em;
      border: 1px dashed #bbb;
      border-top: none;
    }

    .region-info h4 {
      clear: both;
    }

    .ui-tabs {
      padding: 0;
      .ui-tabs-nav {
        padding: .2em 0 0;
        li {
          padding: 0;
        }
  
      }
    }

    .ui-tabs-panel {
      padding-left: 0;
      padding-right: 0;
      background: none;
      background-color: #efefef;
    }
  
    .ui-widget-header {
      border: none;
      background: transparent;
    }

    .ui-widget-content {
      border: none;
      background-image: none;
    }

    .ui-state-default {
      background: none;
      background-color: #596475;
      border: none;
      a {
        color: #fff;
      }
      &.table, &.chart {
        background-repeat: no-repeat;
        background-position: .3em center;
        a {
          padding-left: 2.7em;
        }
      }
      &.table {
        background-image: url(./?a=1260205);
      }
      &.chart {
        background-image: url(./?a=1260206);
      }
    }

    .ui-state-active {
      background: none;
      background-color: #efefef;
      a {
        color: #444;
      }
    }

    table.indicators {
      min-width: 60%;
      font-size: .8rem;
      td {
        text-align: left;
        &.num {
          text-align: right;
        }
  
      }
    }

    .regionlinks {
      line-height: 2em;
      
      p {
        padding: 0;
      }

      ul {
        margin: 0 0 1em;
        overflow: hidden;
        padding: .5em;
        background: #efefef;
        li {
          padding: 0;
          margin: 0 0 .3em;
          list-style: none;
        }
      }
      
      a {
        background-color: #efefef;
      }

      li a {
        background-color: #fff;
      }

      a {
        padding: .5em;
        border: none;
        letter-spacing: .02em;
        &:hover {
          background-color: $border-blue;
          color: #fff;
          text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
        }
        &.current, &.current:hover {
          font-weight: normal;
          background-color: #444;
          color: #fff;
          cursor: default;
          text-decoration: none;
          text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
        }
  
      }
    }

    #map-canvas {
      background-color: #efefef;
      margin: 0;
      width: 100%;
      height: 340px;
      @media screen and (min-width: 65em) {
        height: 570px;
      }
      
      .infowindow p {
        padding: 0;
        margin: 0;
      }
      .infobox {
        background: rgba(255,255,255,0.85);
        padding: .3em .5em;
        font-size: .95rem;
        text-align: center;
        width: 40%;
        margin-top: .8em;
        margin-right: .8em;
      }
  
    }

    .regionmap p.caption, .regiontabs p.caption {
      margin: .3em 0 .8em;
      text-align: center;
      font-weight: bold;
      font-size: 14px;
      font-size: .85rem;
      .sub {
        font-weight: normal;
      }
    }

    .regionmap {
      padding: 0 5%;
      @media (min-width: 43em) {
        float: right;
        margin: 0 0 1em 1em;
        padding: 0;
      }
      @media (min-width: 43em) and (max-width: 65em) {
        width: 270px;
      }
      @media (min-width: 65em) {
        width: 440px;
      }
      p {
        margin: 0;
        text-align: center;
      }
      a {
        cursor: default;
      }
    }

    .regiontabs {
      border: 1px solid #efefef;
      border-radius: 5px;
      padding: .5em;
      width: 96%;
      margin: 0;
      padding: 0.5em 2%;
      @media (min-width: 43em) {
        float: right;
        margin: 0 0 1em 1em;
      }
      @media (min-width: 43em) and (max-width: 65em) {
        width: 290px;
      }
      @media (min-width: 65em) {
        width: 460px;
      }
      #map-canvas {
        float: none;
        width: 100%;
        margin: auto auto;
      }

      .ui-tabs-panel {
        padding: 0;
        min-height: 340px;
        @media screen and (min-width: 65em) {
          min-height: 570px;
        }
      }

      #regionlinks.ui-tabs-panel {
        overflow-y: scroll;
        height: 340px;
        @media screen and (min-width: 65em) {
          height: 570px;
        }
      }

      p {
        margin: .5em 0;
        &.caption {
          margin-bottom: .3em;
        }
      }
      
      p, ul {
        font-size: .9em;
      }

      h4 {
        margin: .5em 1em 0 0;
        float: left;
        color: #444;
      }
  
    }

    .overviewtabs .ui-tabs-panel {
      padding: .5em 1em;
    }
      
    .gm-style-iw {
      font-family: Verdana, Helvetica, Arial, sans-serif;
      font-size: .85rem;
    }
      
    .note {
      font-size: 85%;
      color: #596475;
      font-weight: normal;
    }
  
    .pagination {
      list-style: none;
      margin: 2em 0 1em;
      padding: 0;
      width: 100%;
      .prev, .next {
        width: 40%;
        @media (min-width: 43em) and (max-width: 65em) {
          width: 30%;
        }
        @media (min-width: 65em) {
          width: 25%;
        }
        a {
          padding: 0 1em 0 0;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
          .action {
            background-color: #596475;
            color: #fff;
            display: block;
          }
          .name {
            padding: .5em;
            font-size: .7rem;
            display: block;
          }
        } 
      }
      .prev {
        float: left;
        .action {
          padding: .5em .5em .5em 2em;
          background-image: url(./?a=1260207);
          background-position: left;
          background-repeat: no-repeat;
        }
      }
      .next {
        float: right;
        text-align: right;
        .action {
          padding: .5em 2em .5em .5em;
          background-image: url(./?a=1260267);
          background-position: right;
          background-repeat: no-repeat;
        }
      }
    }

    ul.image-gallery {
      margin: 1em 0;
      padding: 0;
      li {
        list-style: none;
        display: inline-block;
        zoom: 1;
        *display: inline;
        vertical-align: top;
        padding: 2em .5em .5em .5em;
        margin: 0 1.5em 0 0;
        max-width: 250px;
        a {
          text-decoration: none;
        }
        img {
          box-shadow: 1px 1px 1px #ccc;
          padding: 0;
          margin: 0 0 .5em;
        }
        .caption {
          display: block;
          font-size: .8rem;
          text-align: center;
          .source {
            display: block;
            font-size: .75rem;
            color: #444;
          }
        }
  
      }
    }

    ul.list-across li a {
      background-color: #efefef;
      border: none;
      border-bottom: 2px solid #efefef;
      border-top: 2px solid #efefef;
      &:hover {
        background-color: #fff;
      }
    }
  
  }


  .ui-widget.video-dialog {
    font-size: 1rem;
    a {
      color: #003d98;
    }
    .ui-dialog .ui-dialog-titlebar {
      padding: 0;
    }
    .ui-widget-header {
      background: none;
      border: none;
    }
  }

  body.soe-home {
    #content-container {
      width: 100%;
    }
    
    #page-container .max-width {
      background: rgba(255,255,255,0.8);
    }
  
    .article, #document-properties {
      width: 100%;
    }
    
    h1, #nav-section, #breadcrumbs {
      display: none;
    }

    #featured {
      margin: 1em 0;
      padding: 0;
      min-height: 250px;

      @media (max-width: 43em) {
        min-height: 100px;
      }
      .linkedimage, .intro {
        margin: 0;
        padding: 1em;
        @media (min-width: 43em) {
          margin: 0;
          padding: 0;
          width: 50%;
          vertical-align: top;
        }
      }
      .linkedimage {
        background: url(./?a=1260268/feature-left.jpg) no-repeat left center #fff; 
        height: 120px;
        position: relative;
        @media (min-width: 43em) {
          height: 250px;
          float: left;
        }
        #videolink {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(0,-50%);
        }
      }
      .intro {
        background-color: #fff;
        @media (min-width: 43em) {
          float: right;
          height: 250px;
        }
        @media (min-width: 65em) {
          background: url(./?a=1260405) no-repeat bottom right #fff;  // feature-right.jpg
        }
        h2 {
          font-size: 1.2rem;
          padding: 0 1em;
          margin-top: 1em;
        }
        p {
          font-size: .95rem;
          padding: 0 1em .5em;
        }
        h2, p {
          @media screen and (min-width: 65em) {
            padding-right: 5.5em;
          }
        }
      }
    }

    .page-options {
      display: none;
    }
  
  }
 
  body {
    #socialmedia, .socialmedia {
      text-align: center;
      ul {
        list-style: none;
        padding-left: 0;
        li {
          display: inline-block;
          zoom: 1;
          *display: inline;
          margin: 0 .5em 1em;
          img.linkicon {
            display: none;
          }
        }
      }
    }
  }


  div.themes2 {
    display:flex;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 2.5em;
    @media (max-width: 43em) {
      display: block;
    }
    
    &>div {
      width: 18%;
      @media (max-width: 43em) {
        width: 100%;
        border-bottom: 12px solid white;
      }
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    div.outer {
      display: flex; 
      align-items: center; 
      justify-content: center;
      height:  140px;
      margin: auto;
    }
    div.inner {
      background-color: white;
      padding: .25em;
      border-radius: 50%;
      height:110px;/**/
    }
  }


  div.home-themes2-biodiversity {
    div.outer:hover
    {
      background-color: $biodiversity-background-color;
    }
    h2,  li a {
      color: $biodiversity-theme-color !important;
    }
    a {
      text-decoration-color: $biodiversity-theme-color !important;
      -webkit-text-decoration-color: $biodiversity-theme-color !important;
    }
  }

  div.home-themes2-heritage {
    div.outer:hover {
      background-color: $heritage-background-color;
    }
    h2, li a {
      color: $heritage-theme-color !important;
    }
    a {
      text-decoration-color: $heritage-theme-color !important;
      -webkit-text-decoration-color: $heritage-theme-color !important;
    }
  }

  div.home-themes2-pollution {
    div.outer:hover {
    background-color: $pollution-background-color;
    }
    h2, li a   {
      color: $pollution-theme-color !important;
    }
    a {
      text-decoration-color: $pollution-theme-color !important;
      -webkit-text-decoration-color: $pollution-theme-color !important;
    }
  }

  div.home-themes2-climate {
    div.outer:hover {
    background-color: $climate-theme-color;
    }
    h2, li a   {
      color: $climate-theme-color !important;
    }
    a {
      text-decoration-color: $climate-theme-color !important;
      -webkit-text-decoration-color: $climate-theme-color !important;
    }
  }

  div.home-themes2-human-settlements {
    div.outer:hover {
      background-color: $human-settlements-theme-color;
    }
    h2, li a   {
      color: $human-settlements-theme-color !important;
    }
    a {
      text-decoration-color: $human-settlements-theme-color !important;
      -webkit-text-decoration-color: $human-settlements-theme-color !important;
    }
  }

  div.home-themes2-great-barrier-reef {
    div.outer:hover {
	    background-color: $great-barrier-reef-theme-color;
    }
    h2, li a   {
      color: $great-barrier-reef-theme-color !important;
    }
    a {
      text-decoration-color: $great-barrier-reef-theme-color !important;
      -webkit-text-decoration-color: $great-barrier-reef-theme-color !important;
    }
  }

  div.home-themes2-climate-change {
    div.outer:hover {
	    background-color: $climate-change-theme-color;
    }
    h2, li a   {
      color: $climate-change-theme-color !important;
    }
    a {
      text-decoration-color: $climate-change-theme-color !important;
      -webkit-text-decoration-color: $climate-change-theme-color !important;
    }
  }


  div.themes2 h2 {
    text-align: center;
    margin-top: 0 !important;
  }

  ul.subtheme-list { 
    width:100%;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 2em 0 0 0;
    &>li {
      margin: .5em 0;
      padding: .8em !important;
      font-size: .9rem;
    }
  }

/* end home page theme images */


 body .topic {
    background: #e3e3e3;
    background: #fff;
    padding: .5em 1.5em;
    margin: 1em 0;
    @media (min-width: 43em) {
      padding: 0;
      display: inline-block;
      vertical-align: top;
    }
    
    h3 {
      text-align: center;
      @media (min-width: 43em) {
        background: #efefef;
        text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
        padding: .5em;
      }
    }
  }

  #footer #fat-footer {
    h3 {
      padding-top: 10px;
      a {
        @media screen and (min-width: 43em) {
          margin-top: 70px;
        }
      }
    }
    li {
      padding: 0 0 .8em;
    }
    .theme-section {
      text-align: center;
      h3 a {
        background-repeat: no-repeat;
        background-position: top center;
        padding: 70px .5em .5em;
        margin-top: 0;
      }
      ul {
        padding: 0 .5em .5em;
      }
    }
  }

  #headingImg {
  	float: left;
	  padding: 1em;
  }
  
  #printImg {
	  display: none;
  }

  body.soe-theme-biodiversity {
    @media (min-width: 43em) {
      background-image: url(./?a=1260406); // page-bg-biodiversity.jpg
    }
    #content-container {
      background-image: url(./?a=1260270); //heading-bg-biodiversity.jpg 
    }
    #nav-section {
      h2, h2 a {
        background-color: $biodiversity-background-color;
      }
      li.current {
        a, a:link, a:visited, a:hover, a:focus {
          color: $biodiversity-theme-color;
        }
        ul li a, ul li a:link, ul li a:visited, ul li a:hover, ul li a:focus {
          color: #444;
        }
      }
    } 
    #headingDiv {
      background-color: $biodiversity-alpha-color;
    }
    #content .indicatorlinks {
      background: $biodiversity-link-color;
    }
    #content {
      .programs, .responses {
        border-color: $biodiversity-alpha-color;
        h3 {
          color: $biodiversity-theme-color;
          a.more {
            border-color: $biodiversity-alpha-color;
          }
          &.active {
            background-image: url(./?a=1260275); //arrow-right-biodiversity.png
            &.selected {
              background-image: url(./?a=1260276); //arrow-down-biodiversity.png
            }
          }
        }
      }

      dl.keymessages {
        dt {
          color: $biodiversity-theme-color;
          a.more {
            border-color: $biodiversity-alpha-color;
          }
        }
        &.active dt {
          background-image: url(./?a=1260275); // arrow-right-biodiversity.png 
          &.selected {
            background-image: url(./?a=1260276); // arrow-down-biodiversity.png
          }
        }
        dd.hidden {
          display: none;
        }
      }

      .findings h3, h3.criteria, p.criteria {
        background-color: $biodiversity-background-color;
      }
      .findings dl, .findings div.dl, .finding-text {
        border-color: $biodiversity-background-color;
      }

      .regionlinks {
        a.current, a.current:hover {
          background-color: $biodiversity-background-color;
        }
      }
    }
  }

  #nav-site {
    li.theme-biodiversity {
      &.current, &:hover {
        background: $biodiversity-theme-color;
        background: linear-gradient($biodiversity-theme-color,$biodiversity-background-color);
      }
    }
    .theme-biodiversity ul {
      background: $biodiversity-background-color;
      background: linear-gradient($biodiversity-background-color,$biodiversity-theme-color);
    }
  }

  #content .theme-biodiversity h2, #fat-footer .theme-biodiversity h3 {
    border-bottom-color: $biodiversity-background-color;
  }

  #fat-footer .theme-biodiversity h3 a {
    background-image: url(./?a=1260278); // biodiversity.png
    }

  #content .themes .theme-biodiversity ul, #fat-footer .theme-biodiversity ul {
    background-position: bottom right;
    background-repeat: no-repeat;
  }

  #content .theme-section.theme-biodiversity h2 a {
    background-image: url(./?a=1260280); // biodiversity.png
    color: $biodiversity-theme-color;
  }

  // heritage
  body.soe-theme-heritage {
    @media (min-width: 43em) {
      background-image: url(./?a=1260407); // page-bg-heritage.jpg
    }
    
    #content-container {
      background-image: url(./?a=1260282);  // heading-bg-heritage.jpg
    }

    #nav-section {
      h2, h2 a {
        background-color: $heritage-background-color;
      }

      li.current {
        a, a:link, a:visited, a:hover, a:focus {
          color: $heritage-theme-color;
        }
        ul li {
          a, a:link, a:visited, a:hover, a:focus {
            color: #444;
          }
        }
      }
    }

    #content {
      #headingDiv {
        background-color: $heritage-alpha-color;
      }

      .indicatorlinks {
        background: $heritage-link-color;
      }

      .programs, .responses {
        border-color: $heritage-alpha-color;
        h3 {
          color: $heritage-theme-color;
          a.more {
            border-color: $pollution-background-color;
          }
          &.active {
            background-image: url(./?a=1260284); // arrow-right-heritage.png
            &.selected {
              background-image: url(./?a=1260285); // arrow-down-heritage.png
            }
          }
        }
      }

      dl.keymessages {
        dt {
          color: $heritage-theme-color;
          a.more {
            border-color: $pollution-background-color;
          }
        }
        &.active {
          dt {
            background-image: url(./?a=1260284); // arrow-right-heritage.png
            &.selected {
              background-image: url(./?a=1260285); // arrow-down-heritage.png
            }
          }
        }
        dd.hidden  {
          display: none;
        }
      }

      .findings h3, h3.criteria, p.criteria {
        background-color: $heritage-background-color;
      }
      .findings dl, .findings div.dl, .finding-text {
        border-color: $heritage-background-color;
      }
      
      .regionlinks a {
        &.current, &.current:hover {
          background-color: $heritage-background-color;
        }
      }
            
    }
  }

  #nav-site {
    li.theme-heritage {
      &.current, &:hover {
        background: $heritage-theme-color;
        background: linear-gradient($heritage-theme-color,$heritage-background-color);
      }
    }
    .theme-heritage ul {
      background: $heritage-background-color;
      background: linear-gradient($heritage-background-color,$heritage-theme-color);
    }
  }

  #content .theme-heritage h2, #fat-footer .theme-heritage h3 {
    border-bottom-color: $heritage-background-color;
  }

  #fat-footer .theme-heritage h3 a {
    background-image: url(./?a=1260288); // heritage.png
  }

  #content {
    .themes .theme-heritage ul, #fat-footer .theme-heritage ul {
      background-position: bottom right;
      background-repeat: no-repeat;
    }
    .theme-section.theme-heritage h2 a {
      background-image: url(./?a=1260289); //heritage.png
      color: $heritage-theme-color;
    }
  }

  //pollution
  body.soe-theme-pollution {
    @media (min-width: 43em) {
      background-image: url(./?a=1260408); // page-bg-pollution.jpg
    }
    
    #content-container {
      background-image: url(./?a=1260290); // heading-bg-pollution.jpg
    }
    #nav-section {
      h2, h2 a {
        background-color: $pollution-background-color;
      }
      li.current {
        a, a:link, a:visited, a:hover, a:focus {
          color: $pollution-theme-color;
        }
        ul li a, li.current ul li a:link, ul li a:visited, ul li a:hover, ul li a:focus {
          color: #444;
        }
      }
    }
    #content {
      #headingDiv {
        background-color: $pollution-alpha-color;
      }

      .indicatorlinks {
        background: $pollution-link-color;
      }
      
      .programs, .responses {
        border-color: $pollution-alpha-color;
        h3 {
          color: $pollution-theme-color;
          a.more {
            border-color: $pollution-alpha-color;
          }
          &.active {
            background-image: url(./?a=1260292); // arrow-right-pollution.png
            &.selected {
              background-image: url(./?a=1260293); // arrow-down-pollution.png
            }
          }
        }
      }

      dl.keymessages {
        dt {
          color: $pollution-theme-color;
          a.more {
            border-color: $pollution-alpha-color;
          }
        }
        &.active dt {
          background-image: url(./?a=1260292); // arrow-right-pollution.png
          &.selected {
            background-image: url(./?a=1260293); // arrow-down-pollution.png
          }
        }
        dd.hidden {
          display: none;
        }
      }

      .findings h3, h3.criteria, p.criteria {
        background-color: $pollution-background-color;
      }

      .findings dl, .findings div.dl, .finding-text {
        border-color: $pollution-background-color;
      }

      .regionlinks a {
        &.current, &.current:hover {
          background-color: $pollution-background-color;
        }
      }
    }
  }

  #nav-site {
    li.theme-pollution {
      &.current, &:hover {
        background: $pollution-theme-color;
        background: linear-gradient($pollution-theme-color,$pollution-background-color);
      }
    }
    .theme-pollution ul {
      background: $pollution-background-color;
      background: linear-gradient($pollution-background-color,$pollution-theme-color);
    }
  }  

  #content .theme-pollution h2, #fat-footer .theme-pollution h3 {
    border-bottom-color: $pollution-background-color;
  }

  #fat-footer .theme-pollution h3 a {
    background-image: url(./?a=1260294); // pollution.png
  }

  #content {
    .themes .theme-pollution ul, #fat-footer .theme-pollution ul {
      background-position: bottom right;
      background-repeat: no-repeat;
    }
    .theme-section.theme-pollution h2 a {
      background-image: url(./?a=1260295); // pollution.png
      color: $pollution-theme-color;
    }
  }

/*  climate */

  body.soe-theme-climate {
    @media (min-width: 43em) {
        background-image: url(./?a=1260409); // page-bg-climate.jpg
    }
    
    #content-container {
      background-image: url(./?a=1260355); // heading-bg-climate.jpg
    }

    #nav-section {
      h2, h2 a {
        background-color: $climate-theme-color;
      }
      li.current {
        a, a:link, a:visited, a:hover, a:focus {
          color: $climate-theme-color;
        }
        ul li {
          a, a:link, a:visited, a:hover, a:focus {
            color: #444;
          }
        }
      }
    }

    #content {

      #headingDiv {
        background-color: $climate-alpha-color;
      }

      .indicatorlinks {
        background: $climate-link-color;
      }

      .programs, .responses {
        border-color: $climate-alpha-color;
        h3 {
          color: $climate-theme-color;
          a.more {
            border-color: $climate-alpha-color;
          }
          &.active {
            background-image: url(./?a=1260359); // arrow-right-climate.png
            &.selected {
              background-image: url(./?a=1260360); // arrow-down-climate.png
            }
          }
        }
      }

      dl.keymessages {
        dt {
          color: $climate-theme-color;
          a.more { 
            border-color: $climate-alpha-color;
          }
        }
        &.active dt {
          background-image: url(/?a=1260359); // arrow-right-climate.png
          &.selected {
            background-image: url(./?a=1260360); // arrow-down-climate.png
          }
        }
        dd.hidden {
          display: none;
        }
      }

      .findings h3, h3.criteria, p.criteria {
        background-color: $climate-theme-color;
      }

      .findings dl, .findings div.dl, .finding-text {
        border-color: $climate-theme-color;
      }

      .regionlinks {
        a.current, a.current:hover {
          background-color: $climate-theme-color;
        }
      }
    }
  }

  #nav-site {
    li.theme-climate {
      &.current, &:hover {
        background: $climate-theme-color;
      }
    }
    .theme-climate ul {
      background: $climate-theme-color;
    }
  }

  #content .theme-climate h2, 
  #fat-footer .theme-climate h3 {
    border-bottom-color: $climate-theme-color;
  }

  #fat-footer .theme-climate h3 a {
    background-image: url(./?a=1260361); // climate.png
  }

  #content .themes .theme-climate ul, 
  #fat-footer .theme-climate ul {
    background-position: bottom right;
    background-repeat: no-repeat;
  }

  #content .theme-section.theme-climate h2 a {
    background-image: url(./?a=1260362);  // climate.png
    color: $climate-theme-color;
  }

	/* human-settlements */

  body.soe-theme-human-settlements {
    @media (min-width: 43em) {
      background-image: url(./?a=1275388); // page-bg-human-settlements.jpg
    }
    #content-container {
      background-image: url(./?a=1275335); // heading-bg-human-settlements.jpg
    }

    #nav-section {
      h2, h2 a {
        background-color: $human-settlements-theme-color;
      }

      li.current {
        a, a:link, a:visited, a:hover, a:focus {
          color: $human-settlements-theme-color;
        }

        ul li {
          a, a:link, a:visited, a:hover, a:focus {
            color: #444;
          }
        }
      }
    }

    #content {
      #headingDiv {
        background-color: $human-settlements-alpha-color;
      }

      .indicatorlinks {
        background: $biodiversity-link-color;
      }

      .programs, .responses {
        border-color: $human-settlements-alpha-color;
        h3 {
          color: $human-settlements-theme-color;
          a.more {
            border-color: $human-settlements-alpha-color;
          }
          &.active {
            background-image: url(./?a=1426999); // arrow-right-human settlements.png
            &.selected {
              background-image: url(./?a=1426998); // arrow-down-human settlements.png
            }
          }
        }
      }

      dl.keymessages {
        dt {
          color: $human-settlements-theme-color;
          a.more {
            border-color: $human-settlements-alpha-color;
          }
        }
        &.active dt {
          background-image: url(./?a=1426999); // arrow-right-human-settlements.png
          &.selected {
            background-image: url(./?a=1426998); // arrow-down-human-settlements.png
          }
        }
        dd.hidden {
          display: none;
        }
      }  
      
      .findings h3, 
      h3.criteria, 
      p.criteria {
        background-color: $human-settlements-theme-color;
      }
    
      .findings dl, 
      .finding-text {
        border-color: $human-settlements-theme-color;
      }

      .regionlinks {
        a.current, a.current:hover {
        background-color: $human-settlements-theme-color;
      }
    }
    }
  }

  #nav-site {
    li.theme-human-settlements {
      &.current, &:hover {
        background: $human-settlements-theme-color;
      }
    }
    .theme-human-settlements ul {
      background: $human-settlements-theme-color;
    }
  }

  #content .theme-human-settlements h2, 
  #fat-footer .theme-human-settlements h3 {
    border-bottom-color: $human-settlements-theme-color;
  }

  #fat-footer .theme-human-settlements h3 a {
    background-image: url(./?a=1275358); // icons-sml/human-settlements.png
  }

  #content {
    .themes .theme-human-settlements ul, 
    #fat-footer .theme-human-settlements ul {
      background-position: bottom right;
      background-repeat: no-repeat;
    }
    .theme-section.theme-human-settlements h2 a {
      background-image: url(./?a=1275345); // icons-lrg/human-settlements.png
      color: $human-settlements-theme-color;
    }
  }


/* great-barrier-reef */

  body.soe-theme-great-barrier-reef {
    @media (min-width: 43em) {
      body.soe-theme-great-barrier-reef {
        background-image: url(./?a=1274111); // page-bg-great-barrier-reef.jpg
      }
    }
        #content-container {
      background-image: url(./?a=1274122); // heading-bg-great-barrier-reef.png
    }

    #nav-section {
      h2, h2 a {
        background-color: $great-barrier-reef-theme-color;
      }
      li.current {
        a, a:link, a:visited, a:hover, a:focus {
          color: $great-barrier-reef-link-color;
        }
        ul li {
          a, a:link, a:visited, a:hover, a:focus {
            color: #444;
          }
        }
      }
    } 
    
    #content {
      #headingDiv {
        background-color: $great-barrier-alpha-theme-color;
      }
    }
  }
  
  #nav-site {
    li.theme-great-barrier-reef {
      &.current, &:hover {
        background: $great-barrier-reef-theme-color;
        background: linear-gradient($great-barrier-reef-theme-color, $great-barrier-reef-theme-color);
      }
    }
    .theme-great-barrier-reef ul {
      background: $great-barrier-reef-theme-color;
      background: linear-gradient($great-barrier-reef-theme-color, $great-barrier-reef-theme-color);
    }
  }

  #content .theme-great-barrier-reef h2, 
  #fat-footer .theme-great-barrier-reef h3 {
    border-bottom-color: $great-barrier-reef-theme-color;
  }

  #fat-footer .theme-great-barrier-reef h3 a {
    background-image: url(./?a=1274110); // great-barrier-reef.png
  }

  #content .themes .theme-great-barrier-reef ul, 
  #fat-footer .theme-great-barrier-reef ul {
    background-position: bottom right;
    background-repeat: no-repeat;
  }

  #content .theme-section.theme-great-barrier-reef h2 a {
    background-image: url(./?a=1274107); // great-barrier-reef.png
    color: $great-barrier-reef-theme-color;
  }



/* climate-change */

  body.soe-theme-climate-change {
    @media (min-width: 43em) {
      body.soe-theme-climate-change {
        background-image: url(./?a=1274111); // page-bg-great-barrier-reef.jpg
      }
    }
        #content-container {
      background-image: url(./?a=1274122); // heading-bg-great-barrier-reef.png
    }

    #nav-section {
      h2, h2 a {
        background-color: $climate-change-theme-color;
      }
      li.current {
        a, a:link, a:visited, a:hover, a:focus {
          color: $climate-change-link-color;
        }
        ul li {
          a, a:link, a:visited, a:hover, a:focus {
            color: #444;
          }
        }
      }
    } 
    
    #content {
      #headingDiv {
        background-color: $climate-change-alpha-theme-color;
      }
    }
  }
  
  #nav-site {
    li.theme-climate-change {
      &.current, &:hover {
        background: $climate-change-theme-color;
        background: linear-gradient($climate-change-theme-color, $climate-change-theme-color);
      }
    }
    .theme-climate-change ul {
      background: $climate-change-theme-color;
      background: linear-gradient($climate-change-theme-color, $climate-change-theme-color);
    }
  }

  #content .theme-climate-change h2, 
  #fat-footer .theme-climate-change h3 {
    border-bottom-color: $climate-change-theme-color;
  }

  #fat-footer .theme-climate-change h3 a {
    background-image: url(./?a=1274110); // great-barrier-reef.png
  }

  #content .themes .theme-climate-change ul, 
  #fat-footer .theme-climate-change ul {
    background-position: bottom right;
    background-repeat: no-repeat;
  }

  #content .theme-section.theme-climate-change h2 a {
    background-image: url(./?a=1274107); // great-barrier-reef.png
    color: $climate-change-theme-color;
  }


// social media icons
  
  ul.social-media-icon-list {
    list-style-type: none;
    margin-top: 4em;
    text-align: center;
    padding-left: 0;
    li {
      display: inline-block;
      padding-left: .5em !important;
      padding-right: .5em !important;
    }
    img.linkicon  {
      display: none;
    } 
    .fa {
      font-size: 40px;
    }
  }

  /* subthemes */

  #content .theme-section {
    &.subtheme-terrestrial-ecosystems h2 a {
      background-image: url(./?a=1260363); // terrestrial-ecosystems.png
    }
    &.subtheme-freshwater-wetland-ecosystems h2 a {
      background-image: url(./?a=1260367); // freshwater-wetland-ecosystems.png
    }
    &.subtheme-estuarine-marine-ecosystems h2 a {
      background-image: url(./?a=1260370); // estuarine-marine-ecosystems.png
    }
    &.subtheme-species-habitat h2 a {
      background-image: url(./?a=1260375); /*woz*/ // species-habitat.png
    }
    &.subtheme-aboriginal-torres-strait-islander h2 a {
      background-image: url(./?a=1260377); // aboriginal-torres-strait-islander.png
    }
    &.subtheme-historic h2 a {
      background-image: url(./?a=1260379); // historic.png
    }
    &.subtheme-world h2 a {
      background-image: url(./?a=1260381); // world.png
    }
    &.subtheme-air-quality h2 a {
    background-image: url(./?a=1260383); // air-quality.png
    }
    &.subtheme-water-quality h2 a {
      background-image: url(./?a=1260386); // water-quality.png
    }
    &.subtheme-waste h2 a {
      background-image: url(./?a=1260392); // waste.png
    }
    &.subtheme-greenhouse-gas-emissions h2 a {
      background-image: url(./?a=1260394); // greenhouse-gas-emissions.png
    }
    &.subtheme-climate-observations h2 a {
      background-image: url(./?a=1260396); // climate-observations.png
    }
    &.subtheme-coasts-oceans h2 a {
      background-image: url(./?a=1260398); // coasts-oceans.png
    }
    &.subtheme-urban h2 a {
      background-image: url(./?a=1275344); //  urban.png
    }
    &.subtheme-rural h2 a {
      background-image: url(./?a=1275343); // rural.png
    }
  }

  .archive-warning {
      border: 5px solid brown; 
      background-color: #ffffcc; 
      padding: 20px; 
      font-weight: bold;
      font-size:1.25rem; 
  }

  p#openDataUrl {
    @media (max-width: 43em) {
      font-size: 1.2em;
      font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
      margin-top:1.33em;
    }
  }


} //end media screen


#content {
  .programs, responses {
    table {
      margin: .5em 1em;
      border: {
        style: none;
        collapse: separate;
        spacing: 0.5em;
      }
    }
    
    td {
      border-style: none;
      padding-bottom: 0.8em !important;
      display: block;
      @media screen and (min-width: 43em) {
        display: table-cell;
        border-top: 1px solid #bbb !important;
      }
    }
    
    tr > td:first-child {
      width: 100%;
      font-size: .9rem;
      border-top: 1px solid #bbb !important;
      padding-bottom: 0 !important;
      @media screen and (min-width: 43em) {
        width: 29%;
        padding-bottom: 0.8em !important;
      }
    }
    
    tr:first-child td {
      border-top: none !important;
    }

    ul {
      display: block;
      list-style-type: disc;
      list-style-position: outside;
      margin: 1em 0 0 0 !important;
      padding: 0 0 0 2em !important;
    }
    
    li:last-child {
      padding: 0 !important;
    }

    dl dt,
    dl dd {
      @media screen and (min-width: 43em) {
        padding: .5em 1%;
        vertical-align: top;
        display: inline-block;
        zoom: 1;
        *display: inline;
      }
    }

    dl dt {
      @media screen and (min-width: 43em) and (max-width: 65em) {
        width: 26%;
      }
      @media screen and (min-width: 65em) {
        width: 29%;
      }
    }
    dl dd {
      @media screen and (min-width: 43em) and (max-width: 65em) {
        width: 58%;
      }
      @media screen and (min-width: 65em) {
        width: 65%;
      }
      @media screen and (min-width: 43em) {
        border-top: 1px solid #bbb;
      }
    }
  }
}


div.section.col2 {
    clear: both;
}

body .section.col2 .topic {
  @media screen and (min-width: 43em) {
    margin-left: 5%;
    margin-right: 5%;
  }
  @media screen and (min-width: 43em) and (max-width: 65em) {
    width: 38%;
  }
  @media screen and (min-width: 65em) {
    width: 35%;
  }
  &:first-child {
    @media screen and (min-width: 65em) {
      margin-left: 10%;
    }
  }
}

body .section.col3 .topic {
  @media screen and (min-width: 43em) {
    margin-left: 3%;
    margin-right: 3%;
  }
  @media screen and (min-width: 43em) and (max-width: 65em) {
    width: 23%;
  }
  @media screen and (min-width: 65em) {
    width: 21%;
  }
  &:first-child {
    margin-left: 10%;
  }
}


@media print {
  #content {
    dl.keymessages {
      a.more {
        display: none;
      }
      dd {
        display: block !important;
      }
    }

    .finding-text {
      border-bottom: 1px solid #000;
      margin-bottom: .5em;
    }

    .pagination .action::after {
      content: ': ';
    }

    #content #map-canvas {
      width: 440px;
      height: 570px;
      page-break-inside: avoid;
    }

    .regiontabs .caption {
    display: none;
    }

    #regionlinks {
    display: none !important;
    }

    .chart-group {
      page-break-inside: avoid;
      h4 {
        margin: 2em 0 0;
      }
    }

    h3 a.more {
      display: none;
    }
  }

  
  .print-link-url {
    font-weight: normal;
    font-size: 13px;
    font-size: .8rem;
  }

  #content h4 a .print-link-url {
    display: block;
  }

  .ui-tabs-nav {
    display: none !important;
  }

  .ui-tabs .ui-tabs-panel.chart {
    display: block !important;
  }

  #content {
    .ui-widget-content {
      background: none;
      border: none;
    }

    .ui-tabs-panel {
      background: none;
      border: none;
      padding: 0;
    }
  }
  
  div.section.col2 {
    display: none;
	}
	
	#headingDiv {
		position: relative;
	}
	
	#printImg {
		float: left;
		position: absolute;
		top: 40%;
		margin: 0 0 0 1em;
	}
  
	#headingImg {
		display: none;
	}

  .soe-theme-biodiversity h1, .soe-theme-heritage h1, .soe-theme-pollution h1, .soe-theme-climate h1, .soe-theme-human-settlements h1, .soe-theme-great-barrier-reef h1, , .soe-theme-climate-change h1 {
		padding: .5em 0 0 3em;
		clear: both;
	}
	
	.soe-theme-biodiversity h1 {
    border-top: 1.6rem solid $biodiversity-background-color;
  }
	
  .soe-theme-heritage h1 {
    border-top: 1.6rem solid $heritage-background-color;
  }
	
  .soe-theme-pollution h1 {
    border-top: 1.6rem solid $pollution-background-color;
  }
	
  .soe-theme-climate h1 {
    border-top: 1.6rem solid $climate-theme-color;
  }
	
  .soe-theme-human-settlements h1 {
    border-top: 1.6rem solid $human-settlements-theme-color;
  }
	
  .soe-theme-great-barrier-reef h1 {
    border-top: 1.6rem solid $great-barrier-reef-theme-color;
  }

  .soe-theme-climate-change h1 {
    border-top: 1.6rem solid $climate-change-theme-color;
  }
}


