<html>

<head>
	<style>
		table,
		thead,
		tr,
		th,
		tbody,
		td,
		tfoot {
			border: 1px black solid;
		}

		th,
		td {
			text-align: left;
		}

		th.num,
		td.num {
			text-align: right
		}
	</style>
	<title>%frontend_asset_name%</title>

</head>

<body>



	<!-------------------------------------------------------
	goes on client 
--------------------------------------------->
	<div id=app>
		<regioninfo v-for="table in tables" :table=table></regioninfo>
		<pre>{{ $data }}</pre>
	</div>


	<template id=region-template>
		<div :id="'region_' + table.index" class="region-info region-queensland">
			<h4 v-text="table.heading"></h4>
			<ul class=chart-tabs :data-index=table.index v-if=table.hasChart>
				<li class=active><span>Chart</span>
				<li><span>Table</span>
			</ul>
			<div class=chart-table>
				<div :id="'chart_' + table.index" class=chart v-if=table.hasChart></div>
				<div :id="'table_' + table.index" class="responsive-table sticky inactive">
					<table class="indicators zebra">
						<thead>
							<tr>
								<th v-for="(th, i) in table.rows[0]" scope=col :class="{num: i > 0}" v-text=th>
						<tbody>
							<tr v-for="tr in table.rows.slice(1)">
								<th scope=row v-text=tr[0]>
								<td v-for="td in tr.slice(1)" class=num v-text=td.toFixed(3)>

					</table>
				</div>
			</div>
		</div>

		</div>
	</template>

	<pre id=pre></pre>
	<div id=tableData></div>
	<!---------------------------------------------
	end goes on client
	----------------------------------------------->

	<script id=chartdata type=application/json></script>
	<script src=/js/server-render.js> </script>

	<script>
		// function to emulate matrix ssjs
		function print(regionInfo) {
			document.getElementById("pre").textContent = regionInfo;
			document.getElementById("tableData").innerHTML = regionInfo;
		}
	</script>



	<script>
		"use strict";

		var request = new XMLHttpRequest();
		request.open("GET", "/data/indicator-3-4-0-5.csv", false);  // `false` makes the request synchronous
		request.send(null);
		var csv = "";
		if (request.status === 200) {
			csv = request.responseText;
		}


		//%%% start matrix server side %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
		//%%%% var csv = '%frontend_asset_metadata_data-file^as_asset:asset_file_contents^replace:\r\n:\\n%';


		var results = Papa.parse(
			csv,
			{
				skipEmptyLines: true,
				dynamicTyping: true,
			}
		);
		var headRow = results.data.shift().map(function (th) { return th.toString(); });
		var lastIndex = headRow.length - 1;
		var latestYear = headRow[lastIndex];
		var years = headRow.slice(2);

		console.log("data from papaparse", results);

		var index = 0;

		///////////////////////////////////////////////////
		var totals = results.data.filter(function (record) { return record[1] == "Total"; });
		var tableData = totals.map(function (record) {
			return [record[0], record[lastIndex]];
		});

		var head = ["State", "Emissions"];
		tableData.unshift(head);

		var options = getDefaultBarChartOptions();
		options.hAxis.title = "Tonnes of carbon dioxide equivalent (million)";
		options.legend.position = "none";

		var tables = [{
			rows: tableData,
			type: "bar",
			options: options,
			heading: "Comparison of state and territory land use, land use change and forestry (LULUCF) emissions, " + latestYear,
			hasChart: true,
			index: index++
		}];


		//////////////////////////////////////////////////////////////////////////////////////

		var qld = results.data.filter(function (record) {
			return record[0] == "Queensland";
		});
		qld = qld.map(function (record) { return record.slice(1); });

		var min = 0;
		qld.forEach(function (record) {
			for (var i = 1; i < record.length; ++i)
				min = Math.min(min, record[i]);
		});

		qld.unshift(["Year"].concat(years));

		tableData = qld.transpose();

		options = getDefaultAreaChartOptions();
		options.vAxis.title = "Tonnes of carbon dioxide equivalent (million)";
		options.vAxis.viewWindow = { min: min };
		options.seriesType = "area";
		options.series = { 6: { type: "line" } };

		tables.push({
			rows: tableData,
			heading: "Trends in Queensland’s net land use, land use change and forestry (LULUCF) emissions, by category",
			hasChart: true,
			index: index++,
			type: "combo",
			options: options,
		});


		//////////////////////////////////////////////
		var qldTotalRow = results.data.filter(function (record) {
			return record[0] == "Queensland" && record[1] == "Total";
		});
		var data = qldTotalRow[0].slice(2).map(function (row, i) {
			return [years[i], row];
		});
		data.unshift(["Year", "Emissions (million tonnes)"]);

		tables.push(
			{
				rows: data,
				heading: "Queensland’s total land use, land use change and forestry (LULUCF) emissions",
				hasChart: false,
				index: index++
			});




		print("<script id=tabledata type=application/json>" + JSON.stringify(tables) + "</" + "script>");
		//%%%% end matrix server side %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%



	</script>
	<script src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script>
		var soejs = {};
		google.charts.load("current", { packages: ["corechart"] });
		google.charts.setOnLoadCallback(populateIndicatorCharts);



		//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
		//	client side script			

		function populateIndicatorCharts() {

			var tables = JSON.parse(document.getElementById("tabledata").textContent);


			Vue.component("regioninfo", {
				props: ["table"],
				template: "#region-template"
			});

			var vm = new Vue({
				el: "#app",
				data: { tables: tables }, // data: {tables: tables 
				mounted: function () {

					var myTables = tables.filter(function (t) { return t.hasChart });

					soejs.num_charts = myTables.length;
					myTables.forEach(function (table, i) {

						var rows = table.rows;
						if (table.transpose)
							rows = rows.transpose();

						var data = google.visualization.arrayToDataTable(rows);

						var chartElement = document.getElementById("chart_" + table.index);

						switch (table.type) {
							case "pie":
								var chart = new google.visualization.PieChart(chartElement);
								break;
							case "line":
								var chart = new google.visualization.LineChart(chartElement);
								break;
							case "column":
								var chart = new google.visualization.ColumnChart(chartElement);
								break;
							case "bar":
								var chart = new google.visualization.BarChart(chartElement);
								break;
							case "area":
								var chart = new google.visualization.AreaChart(chartElement);
								break;
							case "combo":
								var chart = new google.visualization.ComboChart(chartElement);
								break;
						}//~ end switch chart type

						chart.draw(data, table.options);


					}); //~ end charts.foreach



				}//~ end mounted
			}); //~ end new Vue


		} //~ end charts setonloadcallback
	</script>

</body>

</html>